<%= form_for(@tweet, html: { multipart: true }) do |f| %>
  <%= render 'static_pages/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "New" %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>

