<div class="card">
<%= form_for(@tweet, html: { multipart: true }) do |f| %>
  <div class="card-body">
    <%= f.text_area :content, placeholder: "New" %>
  </div>
    <div class="card-footer bg-transparent">
  <%= f.submit "Post", class: "btn btn-primary" %>
    </div>
<% end %>

</div>