<div class="row">
  <div class="col-md-4">
    <%= render 'static_pages/user_card', user: @user %>
  </div>
  <div class="col-md-6">
    <% if @users.any? %>
      <ul class="users follow">
        <% @users.each do |user| %>
        <%= render 'static_pages/user_card' , user: user %>
          <% end %>
      </ul>
      <%= will_paginate %>
    <% end %>
  </div>
</div>