<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">

  </ul>
  <form class="form-inline my-2 my-lg-0">
    <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
  </form>
</div>